target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iws
*.iml
*.ipr
out/

.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/

.vscode/

.env
volumes/mysql/*
!volumes/mysql/.gitkeep
*.log
hs_err_pid*

.DS_Store
Thumbs.db
